.App {
  text-align: center;
  background-color: #61dafb;
}


.Task {
  width: 20%;
  background-color: aliceblue;
  
}

.FactoryMapContainer {
  width: 80%;

}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

